/* Header */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, 
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-header-logo{
    padding: 24px 0;
    margin-right: 76px;
    text-decoration: none;
}

.studio-header-logo{
    color: #2e2f42;
}

.nav-ul{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.nav-ul-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;

}

.nav-ul-link:hover{
    color: #404bbf;
}

.container-header {
    max-width: 1158px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-ul-link:focus{
    color: #404bbf;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 24px 0;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link:hover {
    color: #404bbf
}

.contacts-link:focus {
    color: #404bbf
}

/* Hero Section */
.container-hero{
    width: 1158px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    color: #fff;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
}

.hero-button:hover{
    background-color: #404bbf;
}

.hero-button:focus{
    background-color: #404bbf;
}

.hero-section{
    background-color: #2e2f42;
    padding: 188px 0;
}

/* Advantages Section */
.advantages-section{
    padding: 120px 0;
}

.adv-sec-ul{
    display: flex;
    gap: 24px;
}

.adv-sec-li{
    width: calc((100% - 72px) / 4);
}

.title-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: left;
}

/* Our Team Section */
.team-card .title-three,
.team-card .paragraph {
    text-align: center;
}

.team-ul{
    display: flex;
    gap: 24px;
}

.team-card{
    padding: 32px 16px;
}

.team-section{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-li{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-li h3,
.team-li p {
    text-align: center;
}

/* Our Portfolio Section */
.portfolio-section{
    padding: 120px 0 120px 0;
}

.portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-li{
    width: calc((100% - 48px) / 3);
}

.portfolio-card{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* Footer */
.footer-end{
    background: #2e2f42;
    padding: 100px 0;
}

.web-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer-logo {
    color: #2e2f42;
}

.footer-text{
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

.studio-footer-logo{
    color: #f4f4fd;
}